#navBar {
    display: grid;
    grid-template-columns: 12em auto  6em 2em 6em;
    grid-template-rows: 3em;
}

#search{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

#title{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

#favoriteSongs{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

#favoriteArtists{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

img {
    width: 3em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.mainmenubtn:hover {
    background-color: red;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    position: absolute;
    min-width: 8em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.dropdown-child a {
    color: black;
    text-decoration: none;
    display: block
}
.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child2{
    right: 0;
}

/* body {
    background-image: url(https://github.com/claudiafalk0/BandSpot/blob/Claudia/assets/images/concert-red.jpg?raw=true);
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
} */