body{
    color: white;
    background-image: url(https://github.com/claudiafalk0/BandSpot/blob/Claudia/assets/images/concert-red.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300vh;
}

header{
    position: fixed;
    width: 100%;
}

#navBar {
    display: grid;
    grid-template-columns: 12em auto 6em 2em 6em;
    grid-template-rows: 3em;
}

#search {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

#title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

#favoriteSongs {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

#favoriteArtists {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
}

.mainmenubtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 1rem;
}

.dropdown-child {
    display: none;
    position: absolute;
    max-width: 10em;
    min-width: 10em;
    max-height: 2em;
    box-shadow: 0em 1em 2em 0em rgba(0, 0, 0, 0.2);
    padding: .5em;
    z-index: 1;
    background: transparent;
    border-radius: .5em;
}

.dropdown-child a {
    color: antiquewhite;
    text-decoration: none;
    display: block
}

.dropdown:hover .dropdown-child {
    display: block;
}

.listPicture{
    float: left;
    width: 2em;
    border: 1px solid white;
}

